<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>  <!--  This includes the file specified in this file -->
    <%- include('../partials/errormessage.ejs') %>  <!--  This includes the error file specified in this file -->

    <%- body %> <!-- This includes every other page in the layout.ejs file -->
</body>
</html>